.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}

.modalContent {
    width: 60%;
    margin: auto;
    margin-top: 10%;
    color: var(--highlight);
    background: var(--content-bg);
    z-index: 1000;
    padding: 2em;
    border-radius: 10px;
    border: 2px solid var(--highlight);
    transform: 'translate(-50%, -50%)';
    position: relative;
}

.modalContent h2 {
    margin-top: 0;
}

.modalHeader {
    display: flex;
    justify-items: center;
    align-items: center;
}

#exitModalButton {
    background-color: var(--content-bg);
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: 900;
    color: var(--highlight);
    border: 2px solid var(--highlight);
    border-radius: 50%;
    margin: 0.5em;
    position: absolute;
    top: -20px;
    right: -20px;
}

#exitModalButton:hover {
 cursor: pointer;
}