.SearchResult {
    border-radius: 10px;
    border: 2px solid var(--highlight);
    padding: 1.5em;
    padding-top: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: var(--content-bg);
    box-shadow: rgb(0, 255, 204) 0 0 10px inset;
}

.SearchResult a {
    text-decoration: var(--highlight) dashed underline;
    color: var(--highlight);
}

.SearchResult a:hover {
    text-decoration: white wavy underline;
    color: white;
    transition: all 0.2s;
}

h5, h4 {
    padding: 0.1em;
    margin: 0.1em;
}

h4 {
    margin-top: 0.15em;
}

.resultSummary {
    cursor: pointer;
}

.inlineSummary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

details>summary {
 
    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none
  }
  
  summary::after {
    content: 'Details >';
    font-size: small;
    font-weight: bold;
    text-decoration: underline;
    padding: 0;
    margin: 0;
  }

  details[open] summary:after {
    content: "Details ▼";
  }

  @media all and (max-width: 600px) {
    .inlineSummary {
      display: flex;
      flex-direction: column;
    }
    .inlineSummary h5 {
        padding: 0;
        margin: 0;
    }
  }