.SearchResult {
    border-radius: 10px;
    border: 2px solid var(--highlight);
    padding: 1.5em;
    padding-top: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: var(--content-bg);
    box-shadow: rgb(0, 255, 204) 0 0 10px inset;
}

.SearchResult a {
    text-decoration: var(--highlight) dashed underline;
    color: var(--highlight);
}

.SearchResult a:hover {
    text-decoration: white wavy underline;
    color: white;
}

h5, h4 {
    padding: 0.1em;
    margin: 0.1em;
}

h4 {
    margin-top: 0.15em;
}