@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --bg: rgb(94, 45, 255);
  --content-bg: rgb(119, 78, 252);
  --highlight: rgb(0, 255, 204);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--highlight);
  font-family: 'Space Mono', monospace;
  padding: 1em;
  background-image: radial-gradient(var(--highlight) 1px, transparent 0);
  background-size: 15px 15px;
}

hr {
  border: 1px solid var(--highlight);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid var(--highlight);
  padding: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: var(--content-bg);
  box-shadow: var(--highlight) 0 0 10px inset;
}

.App-header {
  padding-top: 0.5em;
  padding-bottom: 1em;
  border-radius: 30%;
  text-align: center;
}

.query-form button {
  font-weight: bold;
  background-color: var(--highlight);
  color: var(--bg);
  font-family: 'Space Mono', monospace;
  border-radius: 10px;
  border: none;
  margin-top: 2em;
  padding: 0.3em;
}
.query-form button:hover {
  background-color: var(--highlight);
  color: var(--bg);
  box-shadow: var(--highlight) 0 0 10px;
  transition: all 0.2s;
}

.query-form {
  padding: 1.5em;
}

label {
  text-align: left;
}

.queryStringContainer {
  display: flex;
  flex-direction: column;
}

#searchBar {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: none;
  padding: 0.3em;
  font-family: 'Kanit', sans-serif;
}

.filterInputs{
  display: flex;
  flex-direction: row;
}

p {
  margin: 0;
  padding: 0;
  padding-right: 1em;
  padding-left: 0.5em;
}

h3 {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.scrollTop {
  font-weight: bold;
  background-color: var(--content-bg);
  color: var(--highlight);
  border-radius: 30%;
  padding: 0.3em;
  border: 2px solid var(--highlight);
  text-decoration: none;
  position: fixed;
  right: 30px;
  bottom: 15px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  box-shadow: var(--highlight) 0 0 10px;
  transition: 0.4s ease-out;
}

.scrollTop:hover {
  background-color: var(--highlight);
  color: var(--bg);
  box-shadow: var(--highlight) 0 0 10px;
  transition: 0.2s ease-out;
}

.formHeading {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

select {
  padding: 0.3em;
  margin: 0.2em;
  border-radius: 10px;
}

option {
  font-family: 'Kanit', sans-serif;
  padding: 0.2em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

input[type=number] {
  border-radius: 10px;
  border: none;
  padding: 0.2em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

input[type=date] {
  border-radius: 10px;
  border: none;
  padding: 0.2em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}